### These files should git ignore

### Files to ignore 
.claude/ 
backup/
docs/
research/
test/
models/
docs/archive/

### Server files to ignore
*.sh
*.bat

### Test files to ignore 
test*.html
*test.html 

*.env 
AGENTS.md

.DS_Store